body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    margin: 0;
    font-family: Arial, sans-serif;
    transform: scale(0.9); /* Adjust the scale as needed */
    transform-origin: top left;
}
.container {
    width: 80%;
    max-width: 800px;
    border: 2px solid #ec7063;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.header {
    background-color: #ec7063;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
}
.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.input, .search-bar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}
.table th, .table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    background-color: #f2f2f2;
}
.table th {
    background-color: #ec7063;
    color: white;
}
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.button {
    background-color: #ec7063;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    width: 23%;
}
.button:hover {
    background-color: #e74c3c;
}
.input-group input {
    height: 25px; 
    padding: 3px;
}
@media (max-width: 768px) {
    .button-container {
        flex-direction: column;
        gap: 10px;
    }
    .button {
        width: 100%;
    }
}
.selected {
    background-color: #d3d3d3; /* Light grey background for selected row */
}